aws.s3.bucket.events=dev.qettal.tickets
aws.s3.url=s3.amazonaws.com

cloud.aws.credentials.instanceProfile=false
cloud.aws.credentials.accessKey=
cloud.aws.credentials.secretKey=
cloud.aws.region.static=us-east-1

qettal.datasource.jdbcUrl = jdbc:mysql://localhost/theaterEvents
qettal.datasource.driverClassName = com.mysql.jdbc.Driver
qettal.datasource.username=root
qettal.datasource.password=
qettal.datasource.maximumPoolSize=20

spring.jpa.open-in-view = false
spring.jpa.show-sql = false 

spring.jackson.serialization.write_dates_as_timestamps=false

server.port=8080

url.authUsers=http://localhost:8083/users
